<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% extends "layout.html" %}
      
    {% block body %}
        {% if session.logged_in %}
        <div class="flex-container">
            {% for jam in jamgames%}
            <div class="flex-item">
                <a href="{{url_for('game', id=jam.game_id)}}">
                    <!-- <img src="static/Default.jpeg" alt="Placeholder"> -->
                    <img src="static/temp/{{jam.dirname}}/{{jam.splashscreen}}" alt="Placeholder">
                  
                </a>
            </div>
          
            {% endfor %}
        </div>
        {% else %}
        <p>You are not logged in</p>
        {% endif %}


    {% endblock %}
</body>
</html>