<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    
</head>
<body>
    {% extends "layout.html" %}
 
    {% block body %}
    <h1>Jams</h1>
    <div class="gamecard">
    <a  href="jam/addjam">Create a new jam</a>
    <h2>Current Jams</h2>
    <p>Here you can find all the jams that are currently running.</p>
    <p>Click on a jam to see more details.</p>
    </div>

    <br>

    
    <ul>
        
        <div class="flex-container">
            {% for jam in jams %}
            <div class="flex-item">
                <a href="jam/{{ jam.id }}">
                    <img src="static/jams/{{jam.image}}" alt="Placeholder">
                </a>
            </div>
            {% endfor %}
        </div>
        
    </ul>
    
    

    {% endblock %}
</body>
</html>